:root {
    --yellow: yellowgreen;
    --horizontal-space: 25px;
    --main-border: rgba(255, 255, 255, 0.653);
    --white: rgba(255, 255, 255, 0.8);
    --black: #191919;
    --lowblack: rgba(145, 88, 88, 0.976);
}