.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-top: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
}
.header__icons span {
    margin-left: 25px;
    color: white;
}
@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.header__icons .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
}